.topFixedBanner{
    background-image: url("../images/topbanner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.topContent{
    margin-top: 12rem;
}
.topTitle{
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}
.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}
.serviceCard{
    margin: 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px rgba(0,115,230,0.2);
}
.serviceCard:hover{
    box-shadow: 0 0 8px rgba(0,115,230,0.2);
}
.serviceMainTitle{
    color: #0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: Montserrat,sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.serviceTitle {
    margin-top: 1rem;
    font-family: Raleway,sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.serviceDescription {
    color: #2B2B2B;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.navTitle{
    font-family: Montserrat,sans-serif;
    color: #ffffff!important;
    font-weight: 700;
    font-size: 24px;
}
.navTitleScroll{
    font-family: Montserrat,sans-serif;
    color: #0073E6!important;
    font-weight: 700;
    font-size: 24px;
}
.navBackground{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(00,00,00,0.0)!important;
}
.navBackgroundScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color:#ffffff;
    box-shadow: 0 0 6px 0 rgba(0,115,230,.3);
}
.navItem{
    font-size: 16px;
    text-decoration: none!important;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.navItemScroll{
    font-size: 16px;
    text-decoration: none!important;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    color: #2B2B2B!important;
}
.des{
    font-weight: 400;
    color: #2B2B2B;
    font-family: Raleway,sans-serif;
    font-size: 14px;
}
.summarySection{
    margin-top:  5rem;
}
.summaryBanner{
    background-image: url("../images/banner2.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summaryBannerOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.countNumber{
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 48px;
}
.countTitle{
    font-weight: 600;
    color: #ffffff;
    font-family: Raleway,sans-serif;
    font-size: 22px;
}
.countSection{
    margin-top: 16%;
}
.cardTitle{
    color: #000000;
    font-family: Raleway,sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.cardSubTitle{
    color: #000000;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.iconBullet{
    color: #0073E6;
    font-size: 16px;

}
.workCard{
    margin-top: 14%;
    padding: 10px;
    border-radius: 2px;
}
.projectCard{
    border-radius: 2px;
    border: none!important;
    margin: 2px;
    box-shadow: 0 0 4px rgba(0,115,230,0.2);
}
.projectCard:hover{
    box-shadow: 0 0 8px rgba(0,115,230,0.2);
}
.projectCardTitle{
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.projectCardDescription{
    font-family: Raleway,sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.courseImg{
    width: 100%;
}
.courseTitle{
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.courseDes{
    font-family: Raleway,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    margin-bottom: 0.5rem!important;
}
.courseDetails{
    text-decoration: none;
    font-family: Raleway,sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #0073E6;
    margin-bottom: 5px;
}
.courseDetails:hover{
    text-decoration: none;
}
.videoCard{
    box-shadow: 0 0 4px rgba(0,115,230,0.2);
    padding: 6rem 3rem 6rem 3rem;
    background-color: #ffffff;
    margin: 50px auto;
}
.playBtn{
    color: #0073E6;
    font-size: 48px;
    cursor: pointer;
}
.videoTitle{
    color: #0073E6;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.videoDes{
    font-family: Releway,sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.circleImg{
    margin: 0 auto;
    height: 100px;
    border: 1px solid #0073E6;
    border-radius: 50%;
}
.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 4px rgba(0,115,230,0.2);
}
.socialLink{
    text-decoration: none;
    color: #0073E6;
    font-family: Releway,sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.socialLink:hover{
    text-decoration: none;
    color: #2B2B2B;
}
.footerLink{
    text-decoration: none;
    font-family: Releway,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2B2B2B;
}
.footerLink:hover{
    color: #0073E6;
    text-decoration: none;
}
.copyRightSection{
    padding: 20px;
    background-color: #0073E6;
}
.copyRightLink{
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}
.copyRightLink:hover{
    color: #000000;
    text-decoration: none;
}

.topFixedPage{
    background-image: url("../images/topbanner.jpg");
    min-height: 280px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topPageOverlay{
    position: absolute;
    min-height: 280px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.topPageContent{
    margin-top: 8rem;
}
.pageTitle{
    font-family: Releway,sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
}
.form-control:focus{
    border-radius: 2px!important;
    border-color: #0073E6!important;
    box-shadow: 0 0 4px rgba(0,115,230,0.2)!important;
}